<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="title title-header"><a href="/">POKÉWIKI</a></h1>
        <ul>
            <li><a href="pokedex">POKÉDEX</a></li>
            <li><a href="typechart">TYPECHART</a></li>
            <li><a href="about">ABOUT</a></li>
        </ul>
    </header>

    <section class="container container-section">
        <div>
            <h2>QUICK LINKS</h2>
            <br>
            <h3>TYPE CHART</h3>
            <br>
            <h3><a href="pokedex">POKEDEX</a></h3>
            <br>
            <h3>GENERATIONS</h3>
            <ul>
                <li><a href="#">GEN 1</a></li>
                <li><a href="#">GEN 2</a></li>
                <li><a href="#">GEN 3</a></li>
                <li><a href="#">GEN 4</a></li>
                <li><a href="#">GEN 5</a></li>
                <li><a href="#">GEN 6</a></li>
                <li><a href="#">GEN 7</a></li>
                <li><a href="#">GEN 8</a></li>
            </ul>
            <br>
            <h3>TRIVIA</h3>
            <ul>
                <li><a href="#">HISTORIA</a></li>
                <li><a href="#">OM SPELEN</a></li>
                <li><a href="#">TRIVIA INOM SPELEN</a></li>
                <li><a href="#">ANNAT</a></li>
            </ul>
        </div>
    </section>

    <footer>
        <div>
            
        </div>
    </footer>
</body>
</html>