<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéWiki</title>
</head>
<body>
    <header>
        <h1 class="title title-header"><a href="/">POKÉWIKI</a></h1>
        <ul>
            <li><a href="/pokedex">POKÉDEX</a></li>
            <li><a href="/typechart">TYPECHART</a></li>
            <li><a href="/about">ABOUT</a></li>
        </ul>
    </header>
    <h1>BOOBA</h1>
</body>
</html>